<!DOCTYPE html>
<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWJjTpoFTz6On1Lsy9NlueVqyiDnAIk0g"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      </script>
    <script>
      var arr = [];
      var arr1 = [];
      var arr2 = [];
      var arr3 = [];
      var dmap = new Map();
      var omap = new Map();

      function selection() {
        //var myVar = JSON.parse(htmlDecode("<%= JSON.stringify(bars[0]) %>"));
        //alert('<%= bars_timings[0] %>');
        alert("ss");
        arr = [];
        arr1 = [];
        arr2 = [];
        arr3 = [];
        var items1 = document.getElementsByName('restaurant');
				for(var i=0; i<items1.length; i++){
					if(items1[i].type=='checkbox' && items1[i].checked==true)
            arr1.push(items1[i].value);
        }
        var items2 = document.getElementsByName('site');
				for(var i=0; i<items2.length; i++){
					if(items2[i].type=='checkbox' && items2[i].checked==true)
            arr2.push(items2[i].value);
				}
				var items3 = document.getElementsByName('bar');
				for(var i=0; i<items3.length; i++){
					if(items3[i].type=='checkbox' && items3[i].checked==true)
            arr3.push(items3[i].value);
				}
        arr.push('Miss Saigon, Amherst, MA');
        arr.push('The Lone Wolf, Amherst, MA');
        arr.push('Puffer\'s Pond, Amherst, MA');
        calculateDistances();
      }

      function calculateDistances() {
        var service = new google.maps.DistanceMatrixService();
        //var oo = 'Miss Saigon, Amherst, MA';
        //var dd = 'The Lone Wolf, Amherst, MA';
        service.getDistanceMatrix(
          {
            origins: arr,
            destinations: arr,
            travelMode: google.maps.TravelMode.DRIVING,
            unitSystem: google.maps.UnitSystem.IMPERIAL,
            avoidHighways: false,
            avoidTolls: false
          }, calcDistance);
      }
      
      function calcDistance(response, status) {
        if (status != google.maps.DistanceMatrixStatus.OK) {
          alert('Error was: ' + status);
        } 
        else {
          var origins = response.originAddresses;
          var destinations = response.destinationAddresses;
          for (var i = 0; i < origins.length; i++) {
            var results = response.rows[i].elements;
            for (var j = 0; j < results.length; j++) {
              if(origins[i] != destinations[j]) {
                //alert(origins[i] + " " + destinations[j]);
                //alert(results[j].distance.text + " " + results[j].duration.text);
                dmap.set(destinations[j], [results[j].distance.text, results[j].duration.text])
              }
            }
            omap.set(origins[i], dmap);
          }
        }
        for (var [key, value] of omap) {
          alert(key);
          for (var [k, v] of value) {
            //alert(key + ' = ' + k + " = " + v);
          }
        }
      }
    </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.card::-webkit-scrollbar {
  display: none;
}
#myWorkContent{
    width:auto;
    height:auto;
    display: flex;
    overflow-x: auto;
}
</style>
</head>
<body>

  <div class="container">
    <form method="post" action="/">
    <div class="row">
      <div class="col-25">
        <label for="fname">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Hotel Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="hoteladdress" placeholder="Hotel Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="day">Day of the Week</label>
      </div>
      <div class="col-75">
        <select id="day" name="day">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </div>
      <button type="submit" onclick="selection();">Go</button>
    </form>
  </div>

  <p><%= bars_timings.get('Hangar') %></p>

  <form>
    <h2>Select 1 Lunch Place and 1 Dinner Place</h2>
    <div id="myWorkContent">
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/fc/6d/bb/restaurant-frontage.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[0] %>/><%= restaurants[0] %>
      </figure>
      <figure>
        <img src="https://live.staticflickr.com/4019/4538781607_5718da6c2f.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[1] %>/><%= restaurants[1] %>
      </figure>
      <figure>
        <img src="https://www.gazettenet.com/getattachment/f2356002-5507-4b22-a6d1-e0927a0fd3c8/lonewolf-hg-110116-ph1">
        <input type="checkbox" name="restaurant" value=<%= restaurants[2] %>/><%= restaurants[2] %>
      </figure>
      <figure>
        <img src="https://s3-media3.fl.yelpcdn.com/bphoto/nVSATPTwPMLvhyEETd0aCw/258s.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[3] %>/><%= restaurants[3] %>
      </figure>
      <figure>
        <img src="https://amherstrestaurant.com/assets/images/Crazy_Noodles.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[4] %>/><%= restaurants[4] %>
      </figure>
      <figure>
        <img src="https://www.gazettenet.com/getattachment/e2bd87f5-65b8-4e5c-b597-5c3c9fc8cca5/bizamherstrestaurants-hg-112816-ph12">
        <input type="checkbox" name="restaurant" value=<%= restaurants[5] %>/><%= restaurants[5] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/ae/ed/9f/photo1jpg.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[6] %>/><%= restaurants[6] %>
      </figure>
      <figure>
        <img src="https://www.masslive.com/resizer/X87cT9yJhrfEjfNh_uAAEr6MVa0=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.masslive.com/home/mass-media/width2048/img/entertainment/photo/ginger-garden-amherstjpg-f141969a5e1136bd.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[7] %>/><%= restaurants[7] %>
      </figure>
      <figure>
        <img src="https://www.masslive.com/resizer/X87cT9yJhrfEjfNh_uAAEr6MVa0=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.masslive.com/home/mass-media/width2048/img/entertainment/photo/ginger-garden-amherstjpg-f141969a5e1136bd.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[8] %>/><%= restaurants[8] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/64/fe/75/storefront.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[9] %>/><%= restaurants[9] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/cf/36/7f/exterior-with-ample-parking.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[10] %>/><%= restaurants[10] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/12/54/6c/lindo-lugar.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[11] %>/><%= restaurants[11] %>
      </figure>
      <figure>
        <img src="https://amherstrestaurant.com/assets/images/Paradise_of_India.jpg">
        <input type="checkbox" name="restaurant" value=<%= restaurants[12] %>/><%= restaurants[12] %>
      </figure>
      <figure>
        <img src="https://www.airbnb.com/google_place_photo?photoreference=CoQBdwAAAGW-fRRcyAGW8o3R3mDxcOhLySlY_Gr4xyyWkSsUtKDOrIHtcaBUQBBMt9oMKjf7Q0VP-bxHuiJHSEYJozvPkJUDNAoAjag1-0MDoI_IMrvBOb8ZR_jYgNNu9XY9Tfbe71mUoFEJAC7nUSkcyEBcH1IR-x4hRX0SFczZthdSvhYvEhAuCNeqfY1F1pIb--CK0hmxGhS1WGx7s3Vryd2TJWq8RXuGHk2Jcw&maxwidth=1000&maxheight=1000&place_id=1769639">
        <input type="checkbox" name="restaurant" value=<%= restaurants[13] %>/><%= restaurants[13] %>
      </figure>
    </div>
    <h2>Select 4 Tourist Sites</h2>
    <div id="myWorkContent">
      <figure>
        <img src="https://www.gazettenet.com/getattachment/6938ccda-45c0-4b13-a953-c961954e5c9e/amdonation-hg-060619-ph1">
        <input type="checkbox" name="site" value=<%= sites[0] %>/><%= sites[0] %>
      </figure>
      <figure>
        <img src="https://www.amherst.edu/system/files/styles/original/private/media/exterior%252Cpayette.png">
        <input type="checkbox" name="site" value=<%= sites[1] %>/><%= sites[1] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/ce/9a/2c/eric-carle-museum-of.jpg">
        <input type="checkbox" name="site" value=<%= sites[2] %>/><%= sites[2] %>
      </figure>
      <figure>
        <img src="https://www.amherstma.gov/ImageRepository/Document?documentID=29004">
        <input type="checkbox" name="site" value=<%= sites[3] %>/><%= sites[3] %>
      </figure>
      <figure>
        <img src="https://www.library.umass.edu/assets/Uploads/_resampled/ResizedImageWzYwMCwzMzdd/library-gazette.jpg">
        <input type="checkbox" name="site" value=<%= sites[4] %>/><%= sites[4] %>
      </figure>
      <figure>
        <img src="https://comestiblog.typepad.com/.a/6a00e55181b026883401b7c7f1bf64970b-800wi">
        <input type="checkbox" name="site" value=<%= sites[5] %>/><%= sites[5] %>
      </figure>
      <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/FarrerThomasCharlesMountTom1865.jpg">
        <input type="checkbox" name="site" value=<%= sites[6] %>/><%= sites[6] %>
      </figure>
      <figure>
        <img src="https://www.gazettenet.com/getattachment/0d204b29-ef1c-42e4-a4dd-b5bdefde7414/010OPEDITTUES-HG-071018-ph01">
        <input type="checkbox" name="site" value=<%= sites[7] %>/><%= sites[7] %>
      </figure>
      <figure>
        <img src="https://www.umassalumni.com/s/1640/images/gid2/editor/alumni_association/networks/mt._sugarloaf.jpg">
        <input type="checkbox" name="site" value=<%= sites[8] %>/><%= sites[8] %>
      </figure>
      <figure>
        <img src="http://www.labelscar.com/wp-content/uploads/2006/09/holyoke-mall-2001-02.jpg">
        <input type="checkbox" name="site" value=<%= sites[9] %>/><%= sites[9] %>
      </figure>
      <figure>
        <img src="http://2.bp.blogspot.com/_6JOCpADOJWg/RizsSX_CLcI/AAAAAAAAAeg/OzGj6q_dXGM/s400/DSC05225.JPG">
        <input type="checkbox" name="site" value=<%= sites[10] %>/><%= sites[10] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/45/cb/24/the-new-england-peace.jpg">
        <input type="checkbox" name="site" value=<%= sites[11] %>/><%= sites[11] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/a1/5b/aa/umass-fine-arts-center.jpg">
        <input type="checkbox" name="site" value=<%= sites[12] %>/><%= sites[12] %>
      </figure>
    </div>
    <h2>Select 1 bar (optional)</h2>
    <div id="myWorkContent">
      <figure>
        <img src="https://amherstrestaurant.com/assets/images/Monkey_Bar_Bistro_63.jpg">
        <input type="checkbox" name="bar" value=<%= bars[0] %>/><%= bars[0] %>
      </figure>
      <figure>
        <img src="https://live.staticflickr.com/4019/4538781607_5718da6c2f.jpg">
        <input type="checkbox" name="bar" value=<%= bars[1] %>/><%= bars[1] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/05/33/95/d7/the-pub.jpg">
        <input type="checkbox" name="bar" value=<%= bars[2] %>/><%= bars[2] %>
      </figure>
      <figure>
        <img src="https://www.gazettenet.com/getattachment/103ed609-9c9e-4e7c-b7e2-a5d4e54be382/wingsover-hg-060719-ph1">
        <input type="checkbox" name="bar" value=<%= bars[3] %>/><%= bars[3] %>
      </figure>
      <figure>
        <img src="https://southaustinbrewery.com/wp-content/uploads/2016/01/image6-300x200.jpeg">
        <input type="checkbox" name="bar" value=<%= bars[4] %>/><%= bars[4] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/fc/6d/bb/restaurant-frontage.jpg">
        <input type="checkbox" name="bar" value=<%= bars[5] %>/><%= bars[5] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/fc/6d/bb/restaurant-frontage.jpg">
        <input type="checkbox" name="bar" value=<%= bars[6] %>/><%= bars[6] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/fc/6d/bb/restaurant-frontage.jpg">
        <input type="checkbox" name="bar" value=<%= bars[7] %>/><%= bars[7] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/fc/6d/bb/restaurant-frontage.jpg">
        <input type="checkbox" name="bar" value=<%= bars[8] %>/><%= bars[8] %>
      </figure>
      <figure>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/fc/6d/bb/restaurant-frontage.jpg">
        <input type="checkbox" name="bar" value=<%= bars[9] %>/><%= bars[9] %>
      </figure>
    </div>
  </form>
</div>

<p>
  <button type="submit" value="file:///C:/Users/Abhinav/326_Project/output.html" onclick="selection();">Submit</button>
</p>
<p>
  <a href="/output.html" target="_blank">thesitewizard.com</a>

</p>
</body>
</html>